html {
  font-family: Roboto, sans-serif;
  font-weight: 500;

  --primary-font-color: #000;
  --secondary-font-color: #00ACDC;
}

body, a, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

.page {
  background-color: #ccc;
}

.header {
  background-color: #fff;
}

.logo_link {
  line-height: 0;
}

ul {
  list-style: none;
}

.header {
  display: flex;
}

.nav__list {
  white-space: nowrap;
  display: flex;
}

.nav__link {
  text-transform: uppercase;
  color: var(--primary-font-color);
}
