html {
  font-family: Roboto, sans-serif;
  font-weight: 500;

  --primary-font-color: #000;
  --secondary-font-color: #00ACDC;
}

body,
a,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page {
  background-color: #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 50px;
}

.logo_link {
  line-height: 0;
  align-content: center;
  display: block;
  height: 60px;
}

.nav__list {
  white-space: nowrap;
  display: flex;
}

.nav__list > *:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  position: relative;
  align-content: center;
  display: block;
  height: 60px;
  text-transform: uppercase;
  color: var(--primary-font-color);
}

.nav__list li:nth-child(4) :first-child:hover {
  color: var(--secondary-font-color);
}

.is-active {
  color: var(--secondary-font-color);
}

.is-active::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: var(--secondary-font-color);
}

.nav__list :nth-child(4):hover {
  color: var(--secondary-font-color);
}
